.form-gradient .font-small {
font-size: 0.8rem; }

.dashboard-main {
    padding-top: 100px;
    padding-bottom: 60px;
}

.form-gradient .header {
border-top-left-radius: .3rem;
border-top-right-radius: .3rem; }

.form-gradient input[type=text]:focus:not([readonly]) {
border-bottom: 1px solid #fd9267;
-webkit-box-shadow: 0 1px 0 0 #fd9267;
box-shadow: 0 1px 0 0 #fd9267; }

.form-gradient input[type=text]:focus:not([readonly]) + label {
color: #4f4f4f; }

.form-gradient input[type=password]:focus:not([readonly]) {
border-bottom: 1px solid #fd9267;
-webkit-box-shadow: 0 1px 0 0 #fd9267;
box-shadow: 0 1px 0 0 #fd9267; }

.form-gradient input[type=password]:focus:not([readonly]) + label {
color: #4f4f4f; }

.py-6{padding-bottom:4.5rem!important}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
  }

  .card {
    height: 100%;
    display: flex;
}

.card-block {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.card.card-footer {
    align-self: flex-end;
    flex: 1 1 auto;
}
.mt-s{margin-top:90%!important;}

.story_full .row .col-md-3 {
    height: 200px;
}
