.form-gradient .font-small {
font-size: 0.8rem; }

.t24-content-m {
    margin-top: 2rem;
    margin-bottom: 2rem;
    min-height: 500px;
}

.t24-admin-content-m {
    margin-top: 1rem;
    margin-bottom: 6rem;
    min-height: 500px;
}

.form-gradient .header {
border-top-left-radius: .3rem;
border-top-right-radius: .3rem; }

.form-gradient input[type=text]:focus:not([readonly]) {
border-bottom: 1px solid #fd9267;
-webkit-box-shadow: 0 1px 0 0 #fd9267;
box-shadow: 0 1px 0 0 #fd9267; }

.form-gradient input[type=text]:focus:not([readonly]) + label {
color: #4f4f4f; }

.form-gradient input[type=password]:focus:not([readonly]) {
border-bottom: 1px solid #fd9267;
-webkit-box-shadow: 0 1px 0 0 #fd9267;
box-shadow: 0 1px 0 0 #fd9267; }

.form-gradient input[type=password]:focus:not([readonly]) + label {
color: #4f4f4f; }

.py-6{padding-bottom:4.5rem!important;padding-top:4.5rem!important}
.my-6{margin-bottom:4.5rem!important;margin-top:4.5rem!important}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
  }

  .card {
    height: 100%;
    display: flex;
}

.card-block {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.card.card-footer {
    align-self: flex-end;
    flex: 1 1 auto;
}
.mt-s{margin-top:90%!important;}

.story_full .row .col-md-3 {
    height: 200px;
}

.card-body .profile-photo .avatar {
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.story_update .list-group .list-group-item .genre{
    font-size: 13px;
    color: #999;
    margin-right: 1rem;
}
#yourElement {
    background: url("http://mdbootstrap.com/images/proffesions/reg/coach/img%20(1).jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 300px;
}
/* .story_update table { table-layout: fixed; } */
/* .story_update table th, .story_update table td { overflow: hidden; } */

/* phase 1 */
.headbox{
    height: 3rem;
}
.main-navbar .nav-item.active > .nav-link {
    background-color: rgba(255,255,255,.1);
    /* border-top: rgba(1, 68, 211, 0.795) solid 3px; */
}
.main-navbar .nav-item:hover {
    /* color: #fff!important; */
    background-color: rgba(255, 255, 255, .1);
    /* border-bottom: rgba(3, 1, 143,.9) solid 2px; */
}

.t24-search input[type=text] {
    width:230px;
}

.t24-top-hot .col {
    max-height:200px;
}

.story-title {
    font-size:15px;
    text-shadow: 1px 2px 2px #000;
    padding-bottom:1rem;
}

.top-1 .story-title{
    font-size:20px;
    text-shadow: 1px 2px 2px #000;
    padding-bottom:1rem;
    color: #ff7f50!important;
}

.story_full .row .col {
    max-width: 100%;
    max-height: auto;
}

.navbar-breadcrumb .breadcrumb-container {
    /* height: 10px;
    line-height: 10px; */
    color: #8d8d8d;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* font-family: roboto condensed,sans-serif; */
}